<!--The content below is only a placeholder and can be replaced.-->
<div class="app">

    <button class="menu-button button is-info" (click)="menuButtonClick($event)">
        Menu
    </button>
    <div class="menu" [ngClass]="{'open': isMenuOpen}">
        <ul>
            <li>
                <a *ngIf="isDelay" [bcRouterLink]="['/page-one']" bcRouterLinkActive="active" [navigationDelay]="500" (click)="onLinkClick($event)">
                    Page One
                </a>
                <a  *ngIf="!isDelay" [routerLink]="['/page-one']" routerLinkActive="active" (click)="onLinkClick($event)">
                    Page One
                </a>
            </li>
            <li>
                <a *ngIf="isDelay" bcRouterLink="/page-two" bcRouterLinkActive="active" [navigationDelay]="500" (click)="onLinkClick($event)">
                    Page Two
                </a>
                <a *ngIf="!isDelay" routerLink="/page-two" routerLinkActive="active" (click)="onLinkClick($event)">
                    Page Two
                </a>
            </li>
        </ul>

        <div class="row">
            <label class="row-label" for="enableDelay">
                Enable Delay
            </label>
            <div class="round-checkbox">
                <input type="checkbox" checked
                        id="enableDelay"
                        (change)="onCheckboxChange($event)" >
                <label for="enableDelay"></label>
            </div>
        </div>

    </div>

    <router-outlet></router-outlet>
</div>
